[mysqld]
user = mysql
datadir = /var/lib/mysql
port = 3306
bind-address = 0.0.0.0
skip-name-resolve
skip-host-cache

# Recommended settings
symbolic-links = 0
default_storage_engine = InnoDB
innodb_file_per_table = 1

# Logging (optional)
log_error = /var/log/mysql/error.log

[client]
port = 3306
socket = /run/mysqld/mysqld.sock

	
